<aside class="sidebar">

    <ul>

        <li>
            <a href="#">Dashboard</a>
        </li>

        <li>
            <a href="{% url 'crops:planting-list' %}">
                Crops
            </a>
        </li>

        <li>
            <a href="{% url 'harvests:harvest-list' %}">Harvests</a>
        </li>

        <li>
            <a href="{% url 'customers:customer-list' %}">Customers</a>
        </li>

        <li>
            <a href="{% url 'sales:order-list' %}">Sales</a>
        </li>

        <li>
            <a href="#">Reports</a>
        </li>

        <li>
            <a href="#">Settings</a>
        </li>

    </ul>

</aside>